@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

div, body, span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  min-height: 4000px; /*TODO: delete*/
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 1276px;
}

.text-content {
  font-family: 'JetBrains Mono', monospace;;
  font-style: normal;
  color: #fff;
}